{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>

    <li href="#" class="cajaa">
        
        <div>
            <h2 class="titulo" id="Cardiología">Cardiología</h2><br>
            <p>El cardiólogo veterinario es el especialista que trata las enfermedades del sistema cardiovascular de los animales, desempeñando todas aquellas tareas relacionadas para detectar alguna anomalía cardiaca.</P><br>
            <h2 class="subtitulo">Clínica veterinaria especializada en cardiología</h2><br>
            <p>Como en cualquier otra patología, las enfermedades cardíacas pueden ser leves, moderadas o graves. Pero siempre será un factor decisivo detectarlas y tratarlas a tiempo mediante revisiones.</p>
            <p>En Clínica Monteros sabemos que las enfermedades cardíacas aumentan su prevalencia en razas pequeñas, puesto que son más susceptibles a padecerlas, o en mascotas con más de 5 años. Por lo tanto, siempre aconsejamos las revisiones periódicas.</p>
            <p>En Clínica Monteros contamos con un <strong>servicio especializado en cardiología</strong> para que en caso que sea necesario tu mascota reciba el mejor tratamiento posible.</p>
            <h2 class="subtitulo">Pruebas para detectar problemas cardiacos</h2><br>
            <p>En nuestras clínica ofrecemos servicio de cardiología veterinaria se realizan pruebas como:</p>
            <ul>
                <li>🐈 Radiologías</li>
                <li>🐈 Electrocardiografías</li>
                <li>🐈 Ecocardiografías</li>
                <li>🐈 Análisis de sangre</li>
            </ul>
            <p>Además, también se realizarán todas aquellas pruebas complementarias necesarias para poder dar un diagnóstico completo al paciente.</p><br>
            <h2 class="subtitulo">Enfermedades cardiacas más comunes en mascotas</h2><br>
            <ul>
                <li>🐈 Cardiomiopatías.</li>
                <li>🐈 Patologías valvulares y pericárdicas.</li>
                <li>🐈 Estenosis pulmonar y aórtica.</li>
                <li>🐈 Displasias tricúspides y mitrales.</li>
                <li>🐈 Filariosis canina  (gusano del corazón).</li>
            </ul>
        </div><br>
    </li>
    
</body>
{% endblock%}