{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>

    <li href="#" class="cajaa">
  
        <div>
            <h2 class="titulo" id="Cirugía">Cirugía</h2><br>
            <p>Los cirujanos veterinarios de nuestras clínicas tienen a tu disposición quirófanos completamente equipados con máquinas de anestesia inhalatoria y monitorización para el control de las constantes vitales.</p>
            <P>Cuando nuestros veterinarios llevan a cabo una <strong>intervención quirúrgica en mascotas</strong>, se realizan siempre con las máximas medidas de seguridad. El protocolo incluye <strong>pruebas preanestésicas</strong>, previas a la cirugía, para prevenir los riesgos durante la intervención.</P>
            <p>En todas las operaciones, por menores que sean, contamos siempre con <strong>equipo auxiliar</strong> cualificado además del veterinario o veterinaria cirujana. Tu mascota estará vigilada durante la cirugía y controlaremos su presión arterial, frecuencia cardíaca y el estado de oxigenación.</p>
        </div><br>
    </li>
    
</body>
{% endblock %}

