{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>

    <li href="#" class="item">
     
        <div>
            <h2 class="titulo" id="Dermatología">Dermatología</h2><br>
            <p>La <strong>piel de tu mascota</strong> requiere un cuidado y atención constante para mantener una buena salud. Las <strong>enfermedades cutáneas</strong> y los <strong>trastornos de la piel</strong> se manifiestan de forma similar en diversidad de casos, por lo que resolver este problema es todo un reto, resultando imprescindible acudir a un <strong>dermatólogo veterinario</strong>.</p>
            <P>Nuestro equipo de <strong>>veterinarios y auxiliares formados en dermatología</strong> realizará un examen clínico cuidadoso para asegurar el mejor tratamiento posible a tu mascota.</P>
        </div><br>
    </li>
    
</body>
{% endblock %}