{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>
    <li class="cajaa">
        
        <div>
            <h2 class="titulo" id="Desparasitación">Desparasitación</h2><br>
            <p>La prevención es clave para mantener y mejorar la salud de las mascotas. Y dentro de esta especialidad, uno de los puntos que consideramos más importantes después de la vacunación es la desparasitación.</p>
            <P>Por ello, un excelente plan de desparasitación será realmente importante para mantener sanos a nuestros animales.</P><br>
            <h2 class="subtitulo">Desparasitación perros</h2><br>
            <p>La desparasitación de perros debe de ser una rutina preventiva imprescindible durante toda su vida. </p>
            <p>Para garantizar la salud de tus perros, se debe realizar una desparasitación cada 3 meses desde que son cachorros, ya sea a través de jarabe, pastillas o comprimidos masticables.</p><br>
            <h2 class="subtitulo">Desparasitar a tu gato</h2><br>
            <p>En el caso de los gatos, lo aconsejable es realizar la primera desparasitación de un gato entre las 6- 8 semanas teniendo en cuenta si es un gato de interior o exterior. Para ello, se proporcionarán pastillas, pasta oral o pipetas.</p><br>
            <h2 class="subtitulo">Desparasitar a tu conejo</h2><br>
            <p>La desparasitación de conejos deberá realizarse de 2 a 3 veces al año, a través de jarabe o pipetas.</p><br>
            <h2 class="subtitulo">Desparasitación externa</h2><br>
            <p>Para la desparasitación externa para perros y gatos se utilizan:</p>
            <p> 🦆 Sprays:  Se utilizan sobre todo para cachorros. Existen tanto para prevenir como para animales infectados. </p>
            <p> 🦆 Collares: Son cómodos de colocar y suelen tener una duración larga, según el tamaño del perro entre 4 y 8 meses (la duración depende más bien del tipo de producto y cómo esté formulado, los collares que se utilizan más comúnmente tienen una duración de entre 6-9 meses, en función de la marca). </p>
            <p> 🦆 Pipetas: Las pipetas tienen un aplicador para echar una loción sobre la piel de la mascota.  Su duración es de 1 mes aproximadamente.</p><br>
            <p>Todas las opciones tienen el propósito de evitar parásitos externos como pulgas, garrapatas, piojos y ácaros productores de sarna, y parásitos internos tales como los gusanos del corazón (filaria), áscaris, anquilostomas y tricúridos, entre otros.</p>
            <p>Cada producto comercial está formulado para actuar frente a unos parásitos determinados, tu veterinario Kivet sabrá cuál es la mejor opción para tu caso.</p><br>
            <p>La mejor combinación para los parásitos externos:</p>
            <p> 🦆 Épocas de calor: Collares o Pipetas + productos específicos en comprimidos</p>
            <p> 🦆 Resto de épocas del año: Solo comprimidos. Aunque con la subida de temperaturas generalizada, es aconsejable mantener el collar todo el año.</p><br>
            <h2 class="subtitulo">Desparasitación interna</h2><br>
            <p>La desparasitación interna tanto en perros como en gatos trata de evitar los parásitos intestinales como gusanos o lombrices que pueden ocasionar daños en su salud.</p>
            <p>El modo o la vía para esto, son gotas o pastillas que se ingieren. Existen varias opciones:</p><br>
            <p> 🦆 Soluciones orales o pastas: suelen ser fácil de administrar pero se debe aplicar varios días seguidos. Se suele utilizar en animales de poco tamaño y peso.</p>
            <p> 🦆 Pastillas: muy utilizadas ya que son fáciles de mezclar con la comida, y el animal suele tragarlas, en el caso de los perros, sin darse cuenta. Es recomendable cada 3 meses.</p>
            <p> 🦆 Inyección: en el caso que el animal no pueda tomarlas vía oral, en la clínica se podrá suministrar una inyección trimestralmente</p>


        </div><br>
    </li>
</body>
{% endblock %}