{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>

    <li href="#" class="cajaa">
        
        <div>
            <h2 class="titulo" id="Esterilización">Esterilización</h2><br>
          
            <p>Si tienes una mascota, una de las decisiones más importantes que debes tomar es acerca de esterilizar o castrar a tu perro o gato.</p>
            <P>Si estás pensando en castrar a tu mascota, desde nuestra clínica queremos orientarte y compartir nuestras recomendaciones como expertos en esterilización veterinaria.</P>
            <P>La esterilización veterinaria o castración es un procedimiento quirúrgico que requiere de una hospitalización mínima, ofreciendo un gran beneficio para la salud de tus mascotas de por vida.</P><br>
            <h2 class="subtitulo">Ventajas de esterilizar a tu mascota</h2><br>
            <ul>
                <li>🐖 Se reduce el nacimiento de camadas no deseadas y por lo tanto de abandonos.</li>
                <li>🐖 Prolonga la vida de tus mascotas.</li>
                <li>🐖 Minimiza la agresividad y algunas conductas indeseadas al eliminar la influencia hormonal</li>
                <li>🐖 Reduce la ansiedad y el estrés causado por el celo.</li>
                <li>🐖 Se disminuyen las probabilidades de escape y pérdida de la mascota.</li>
                <li>🐖 Previene problemas graves de salud como cáncer, tumores e hiperplasia.</li>
            </ul> <br>

        </div><br>
    </li>
    
</body>
{% endblock %}