{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>
    <li href="#" class="cajaa">
       
        <div>
            <h2 class="titulo" id="Odontología">Odontología</h2><br>
            <p>En Clínica Monteros nos preocupa la salud y el bienestar de las mascotas. En nuestras clínicas contamos con especialistas en odontología veterinaria, una disciplina relativamente nueva que se encarga del cuidado y la higiene bucal de las mascotas.</p>
            <p>Nuestro <strong>servicio de odontología</strong> aplica técnicas de salud bucodental que nos posibilitan prevenir patologías orales y conservar piezas dentales.</p><br>
            
            <h2 class="subtitulo">Servicios odontológicos para mascotas</h2><br>
            <p>Nuestros veterinarios especialistas en odontología realizan los siguientes servicios en o tratan los siguientes problemas bucodentales en perros y en gatos:</p>
                <ul>
                    <li>🐰 Revisión bucodental</li>
                    <li>🐰 Limpieza dental.</li>
                    <li>🐰 Profilaxis dental.</li>
                    <li>🐰 Extracción de piezas dentales.</li>
                    <li>🐰 Extracción de deciduos.</li>
                    <li>🐰 Revisión dental.</li>
                    <li>🐰 Injertos.</li>
                    <li>🐰 Blanqueamiento.</li>
                    <li>🐰 Fracturas dentales y maxilofaciales</li>
                    <li>🐰 Tumores orales</li>
                </ul>
            <p>En el caso de los <strong>pequeños animales</strong>, nuestros odontólogos veterinarios realizan <strong>revisiones dentales a conejos y roedores</strong> y, en caso de ser necesario, realizan extracciones de piezas dentales.</p><br>
            <h2 class="subtitulo">¿Cuándo es necesario acudir a un odontólogo veterinario?</h2>
            <p>Algunos de los síntomas que deben alertar a los dueños de las mascotas son:</p>
            <ul>
                <li>Halitosis o mal aliento de las mascotas.</li>
                <li>Problemas en las encías: Encías rojas, inflamadas, sensibles o sangrantes.</li>
                <li>Acumulación de sarro.</li>
                <li>🐭 <strong>Lesión bucal</strong>: Nuestras mascotas, sobre todo los perros,  tienden a morder objetos, y su dentadura puede sufrir lesiones debido a este mordisqueo.</li>
                <li>🐭 <strong>Salivación</strong> mayor de la habitual.</li>
                <li>🐭 <strong>Dejar de comer</strong> o <strong>comer más lento.</strong></li>
                <li>🐭 <strong>Dejar de morder los juguetes.</strong></li>
                <li>🐭 <strong>Masticar solo de un lado</strong></li>
            </ul>
        </div><br>
    </li>
</body>
{% endblock %}