{% extends "base.html" %}
{% load static %}
{% block principal %}
<body>
    <li href="#" class="cajaa">
        
        <div>
            <h2 class="titulo" id="Revisión"> Revisión Veterinaria </h2><br>
            <p>La revisión veterinaria es un chequeo básico de salud para perros y gatos y otros animales, siendo parte de una rutina de control sobre su estado físico, además de una revisión de su historial clínico. </p>
            <P>Estas revisiones son la mejor forma de garantizar la salud de tu mascota durante toda su vida, ya que ayudan a prevenir o detectar enfermedades con mayor tiempo de actuación.</P>
        </div><br>
    </li>
    
</body>
{% endblock %}