{% extends "base.html" %}
{% load static %}
{% block principal %}
</head>
<body>
    <div class="cajaa">
        <li href="#" >
            
            <div>
            <h2 class="titulo" id="Vacunación">Vacunación</h2><br>
            <p>Las vacunas son la forma más efectiva para luchar contra ciertas enfermedades muy peligrosas. 
                El proceso, simplificando, consiste en incorporar al organismo el agente infeccioso muerto o muy debilitado para que las defensas del animal creen los anticuerpos necesarios para eliminarlos. Así, estará protegido ante esa enfermedad y tendrá ninguna o menos probabilidades de contagiarse durante su vida.</p><br>
            <p>Las consultas de vacunación en la clínica Monteros siempre se realizará:</p><br>
            <p> 🐿️ Una exploración física general previa.</p>
            <p> 🐿️ Se elegirá la vacuna específica para tu mascota en función de la especie, raza, ubicación, hábitat o edad.</p><br>

            </div><br>
        </li>
    </div>


</body>
{% endblock %}