{% extends "base.html" %}
{% load static %}
{% block principal %}



            <h1>¿Seguro que quiere eliminar?</h1>
         <form method="post" class="p-3 mb-2 bg-white text-dark">
        {% csrf_token %}
             <p> Nombre: {{ form.nombre }}</p>
             <p> Especie: {{ form.especie }}</p>
             <p> Raza: {{ form.raza }}</p>
             <p> Edad: {{ form.edad }}</p>
             <p> Sexo: {{ form.sexo }}</p>
             <p> Comportamiento: {{ form.comportamiento}}</p>
             <p> etc.</p>


        <br>
        <input type="submit" value="Confirmar" class="bg-danger hover-overlay " >
        </form>
{% endblock %}