{% extends "base.html" %}
{% load static %}
{% block principal %}
        <br><br>
       <nav class="parrafo_index" id="somos">

           <h1><strong>Clínica Veterinaria Monteros </strong></h1><br><br>
        <h5><strong>¿Quiénes somos? </strong> </h5><br>

        <p> <b> La Clínica Veterinaria MONTEROS es una clínica dedicada al cuidado de las mascotas,
            que lleva en el mercado desde el año 2010, trabajando en pro del bienestar de cada mascota.
            Desde entonces, sus primordiales objetivos estuvieron encaminados a mejorar en todos sus servicios,
             y muchos de estos objetivos se han logrado, como la innovación de los equipos de diagnóstico, cirugía,
              y la adecuación de la infraestructura, dando como resultado el poder ofrecer a todos nuestros
              clientes un servicio integral atendidos por profesionales de altísima calidad, todo ésto
              con el fin de tratar nuestros pacientes como seres que merecen la mejor atención y especial cuidado.</b></p>
        <p>
    </nav>

    <div class = "carrusel">
        <div class="elementos2">
            <div>
                <img src="{% static 'veterinariaApp/img/veterinaria/carousel-our-veterinary-item-1.jpg'%}" alt="" width="200px" height="200px">
                <div>
                    <h4> <strong> Misión </strong></h4>
                    <p class="text-white"><b>
                    Somos una Clínica Veterinaria con alta complejidad de atención masiva, contando con profesionales y
                    equipamiento adecuado para dar respuesta a las demanda de servicios clínicos y
                    quirúrgicos con honorarios accesibles durante los 365 días del año a amplios sectores
                    de la comunidad de la Ciudad Monteros Tucumán </b></p>
             </div>
            </div>

        </div>

        <div class="elementos2">
            <div>
                <img src="{% static 'veterinariaApp/img/fsad.jpg'%}" alt="" width="200px" height="200px">
                <div>
                    <h4> <strong> Visión </strong> </h4>
                    <p class="text-white"><b>Ser reconocidos como una Clínica Veterinaria organizada y eficiente que brinda servicios profesionales
                        veterinarios de alta calidad, con atención personalizada y honorarios accesibles para la comunidad .</b>
                    </p>
                </div>
            </div>

        </div>
        <div class="elementos2">
            <div>
                <img src="{% static 'veterinariaApp/img/qa.jpg'%}" alt="" width="200px" height="200px">
                <div>
                    <h4> <strong> Valores </strong> </h4><br>
                    <p class="text-white"><b>
                    Ética profesional
                        <ul>
                            <li>Calidad y Calidez</li>
                            <li>Creencia en la mejora contínua</li>
                            <li>Búsqueda de la excelencia como hábito</li>
                        </ul>
                    </b></p>
                </div>
            </div>
        </div>
    </div><br>

    <div class="parrafo_index">
        <h1><strong>Nuestra Clínica Veterinaria Monteros </strong></h1>
    </div><br>


    <div class="carrusel">

        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior2.jpg'%}" alt="" width="300px" height="300px">
         </div>
        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior3.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior4.jpg'%}" alt="" width="300px" height="300px">
        </div>
         <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior5.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior6.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
           <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior8.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
            <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior10.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
            <img src="{% static 'veterinariaApp/img/veterinaria/interior/interior11.jpg'%}" alt="" width="300px" height="300px">
        </div>
        <div class="elementos">
            <img src="{% static 'veterinariaApp/img/veterinaria/interior/14.jpg'%}" alt="" width="300px" height="300px">
        </div>
    </div><br><br>
{% endblock %}