
{% extends "base.html" %}
{% load static %}
{% block principal %}
<div class="container text-primary">
    <table class="table table-striped p-3 mb-2 bg-white text-dark">
        <thead class="text-dark">
            <tr>
                <th><b>ID</b></th>
                <th><b>Nombre de Servicio</b></th>
                <th><b>Descripción</b></th>
                <th><b>Modificar</b></th>
                <th><b>Eliminar</b></th>
            </tr>
        </thead>
        {% for servicio in servicios %}
        <tr class="text-danger">
        |   <td>{{ servicios.id }}</td>
            <td>{{ servicios.nombre }}</td>
            <td>{{ servicios.descripcion }}</td>
            <td><a href="{% url "modificar_localidad" servicio.id %}"><img src="{% static 'veterinariaApp/img/icono/modificar.png' %}"></a> </td>
            <td><a href="{% url "eliminar_localidad" servicio.id %}"><img src="{% static 'veterinariaApp/img/icono/borrar.png' %}"></a> </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}