{% extends "base.html" %}
{% load static %}
{% block principal %}

<body class="body1">
    <h1 class = "titulo">Servicios veterinarios</h1>
    <p class="parrafo">En clínica Veterinaria Monteros contamos con profesionales veterinarios a tu servicio,
        disponemos de una gran variedad de servicios veterinarios que se adaptan a las necesidades de tu mejor amigo en cada etapa de su vida.</p><br>
    <p class="parrafo">Nuestro equipo se compromete a proporcionar una atención personalizada y se esforzará para ayudar a que tu mascota tenga una vida sana y feliz.</p> <br>
    <h2 class="titulo">Consulta todos nuestros servicios y especialidades veterinarias</h2>

    <div class="contenedorr">
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/1.jpg'%}" alt="">
            <h3>Medicina Veterinaria General</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/2.jpg'%}" alt="">
            <h3>Vacunación Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/3.jpg'%}" alt="">
            <h3>Desparasitación Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/4.jpg'%}" alt="">
            <h3>Revisión Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/5.jpg'%}" alt="">
            <h3>Dermatología Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/6.jpg'%}" alt="">
            <h3>Cirugía Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/7.jpg'%}" alt="">
            <h3>Cardiología Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/8.jpg'%}" alt="">
            <h3>Odontología Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/9.jpg'%}" alt="">
            <h3>Esterilización Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/10.jpg'%}" alt="">
            <h3>Traumatología Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/11.jpg'%}" alt="">
            <h3>Urología - nefrólogo</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/12.jpg'%}" alt="">
            <h3>Oncología Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/13.jpg'%}" alt="">
            <h3>Nutrición Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/18.jpg'%}" alt="">
            <h3>Medicina Exóticos</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/15.jpg'%}" alt="">
            <h3>Pruebas Diagnosticas</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/16.jpg'%}" alt="">
            <h3>Ecografía Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/17.jpg'%}" alt="">
            <h3>Análisis Veterinaria</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/14.jpg'%}" alt="">
            <h3>Radiología Digital</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/radiologia.jpg'%}" alt="">
            <h3>Técnicas Histológicas y Microscópica</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/20.jpg'%}" alt="">
            <h3>Análisis Coprológico</h3>
        </div>
        <div class="caja">
            <img src="{% static 'veterinariaApp/img/veterinaria/20.jpg'%}" alt="">
            <h3>Hospitalizacion diurna</h3>
        </div>

    </div>

</body>
{% endblock %}

