{% extends "base.html" %}
{% load static %}
{% block titulo %}Lista de clientes{% endblock %}
{% block titulo_principal %}Lista de clientes{% endblock %}
{% block principal %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Localidad</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.edad }}</td>
            <td>{{ cliente.localidad }}</td>
            <td><a href="{% url "modificar_cliente" cliente.id %}"><img src="{% static 'img/Editar_25.png' %}"></a> </td>
            <td><a href="{% url "eliminar_cliente" cliente.id %}"><img src="{% static 'img/Eliminar_25.png' %}"></a> </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}