{% extends "base.html" %}
{% block titulo %}Lista de Localidades{% endblock %}
{% block titulo_principal %}Lista de Localidades{% endblock %}
{% block principal %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CP</th>
                <th>Provincia</th>
            </tr>
        </thead>
        {% for localidad in localidades %}
        <tr>
            <td>{{ localidad.nombre }}</td>
            <td>{{ localidad.cp }}</td>
            <td>{{ localidad.provincia }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}