{% extends "base.html" %}
{% load static %}
{% block principal %}



    <table class="table table-bordered container border border-danger" >
         <thead>
            <tr><th class="text-center text-white" scope="col" colspan="11">Datos del Dueño o Tutor de la mascota</th></tr>

        </thead>
        <tbody class="text-white bg-white text-danger">
            <tr>
                <th scope="col" > ID</th>
                <th scope="col" > Nombre</th>
                <th scope="col" > Apellido</th>
                <th scope="col" > Email</th>




            </tr>
            <tr>
                {% for cliente in clientes %}

                    <tr>
                        <td >{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.email }}</td>
                        <td><a href="{% url "modificar_cliente" cliente.id %}"><img src="{% static 'veterinariaApp/img/icono/modificar.png' %}"></a> </td>
                        <td><a href="{% url "eliminar_cliente" cliente.id %}"><img src="{% static 'veterinariaApp/img/icono/borrar.png' %}"></a> </td>
                        <td><a href="{% url "tabla" cliente.id %}"> Mostrar datos</a> </td>
                {% for localidad in localidades %}
                        <td> {{ localidad.cp }}</td>
                        <td> {{ localidad.localidad }}</td>
                        <td> {{ localidad.provincia }}</td>
                        <td> {{ localidad.pais }}</td>
                            {% endfor %}

                    </tr>
                      {% endfor %}
            </tr>

        </tbody>
    </table>

    <table class="table table-bordered container border border-danger  ">
         <thead>
            <tr><th class="text-center text-white" scope="col" colspan="9">Datos de Mascota </th></tr>

        </thead>
{#        <tbody class="text-white">#}
{#            <tr>#}
{#                <th scope="col" > ID</th>#}
{#                <th scope="col" > Nombre</th>#}
{#                <th scope="col" > Especie</th>#}
{#                <th scope="col" > Raza</th>#}
{#                <th scope="col" > Sexo</th>#}
{#                <th scope="col" > Edad</th>#}
{#                <th scope="col" > Descripcion</th>#}
{#                <th scope="col" > Comportamiento</th>#}
{#                <th scope="col" > Servicios Realizados</th>#}
{#            </tr>#}
{#            <tr>#}
{#                {% for mascota in mascotas %}#}
{#                    <tr>#}
{#                        <td>{{ mascota.id }}</td>#}
{#                        <td>{{ mascota.nombre }}</td>#}
{#                        <td>{{ mascota.especie }}</td>#}
{#                        <td>{{ mascota.raza }}</td>#}
{#                        <td>{{ mascota.sexo}}</td>#}
{#                        <td>{{ mascota.edad }}</td>#}
{#                        <td>{{ mascota.descripcion }}</td>#}
{#                        <td>{{ mascota.comportamiento }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tr>#}
{##}
{#        </tbody>#}
    </table>


{% endblock %}
